@import "foundation";
$breakpoints: map-merge($breakpoints, (large: 1025px));

$border-color: mediumseagreen;
$inner-border: 5px solid $border-color;
$red: red;
$white: ivory;
$space-color: green;
$background-color: lightgray;

body {
    background-color: $background-color;
}

#board {
    border: 10px solid $border-color;
    
    #home {
        border-right: $inner-border;
        
        @include grid-size(1.5);
        
        h4 {
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.7rem;
            margin-bottom: 0;
        }
        
        #top-home {
            border-bottom: $inner-border;
        }
        
        #bottom-home {
            border-top: $inner-border;
        }
    }
    
    #spaces {
        border-left: $inner-border;

        #bar {
            background-color: $border-color;
        }
    }

}

.grid-frame {
    min-height: 313px;
}

.message-area {
    padding: .15em;
    
    &#left-message-area {
        @include hide-for(small);
        @include show-for(large);
    }
    
    &#right-message-area {
        @include show-for(small);
        @include hide-for(large);
        border: 2px solid $border-color;
        background-color: lighten($border-color, 30%);
    }
}

@mixin piece-classes($name, $primary-color, $secondary-color) {
    .piece.#{$name} {
        circle {
            fill: $primary-color;
        }
        text {
            fill: $secondary-color;
        }
        
        &:hover {
            circle {
                fill: darken($primary-color, 25%);
            }
        }            
    }
    
    dice.#{$name} {
        span.dice {
            color: $secondary-color;
            background-color: $primary-color;
        }
    }
    
    p .#{$name} {
        color: $primary-color;
    }
}

@include piece-classes("white", $white, $red);
@include piece-classes("red", $red, $white);


.piece {
    width: 80%;
    height: 100%;
    cursor: pointer;
    
    #home & {
        width: 55%;
    }
}

space {
    @include grid-block(2);
    margin-bottom: auto;
}



.bottom {
    margin-top: auto;
}


.dice {
    @include badge (
        $diameter: 3rem,
        $fontsize: 1.5rem
    );
    border-radius: 0;
    cursor: default;
}

.space {
    width: 100%;
    height: 100%;
    polygon {
        fill: $space-color;         
    }
}

.grayed-out {
    opacity: .35;
    cursor: default;
}

.winner {
    font-weight: bold;
    font-size: 4rem;
}

#win-message {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}